<?xml version="1.0" encoding="UTF-8"?>

<Configuration>
    <Appenders>
        <File name="FILE" fileName="src/main/java/HomeWork_06/logfile.log" append="true">
            <PatternLayout pattern="%-5p %d{yyyy-MM-dd HH:mm:ss} [%t] %C (%F:%L) - %m%n" />
        </File>
        <Console name="STDOUT" target="SYSTEM_OUT">
            <PatternLayout pattern="%-5p %d{yyyy-MM-dd HH:mm:ss} [%t] %C (%F:%L) - %m%n" />
        </Console>
    </Appenders>

    <Loggers>
        <Logger name="HomeWork_06.HW6" level="debug" />
        <Root level="info">
            <AppenderRef ref="STDOUT" />
            <AppenderRef ref="FILE" />
        </Root>
    </Loggers>
</Configuration>